DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
RAINFALL_API_URL="https://app.gis-div.com/iot/Service/webservice.asmx/GetArsStation4Weeks"
TMAT_API_URL="https://app.gis-div.com/iot/Service/webservice.asmx/GetMonthlyTMATHolykell"
RAINFALL_ARSIRAN="7"
RAINFALL_START_DATE="2025-01-01"
APP_TIMEZONE="Asia/Jakarta"
SYNC_MAX_CONCURRENCY="5"

